Terminology in this chapter

* observational study
* treatment
* outcome
* association
* causal association
* causality
* comparison
* treatment group
* control group
* epidemiology
* confounding
* randomization
* randomized controlled experiment
* randomized controlled trial (RCT)
* blind
* placebo

In [ ]:
# pip install  datascience
from datascience import *

In [6]:
Table().with_columns('Number of petals', make_array(8, 34, 5))

Number of petals
8
34
5

In [8]:
Table().with_columns(
    'Number of petals', make_array(8, 34, 5),
    'Name', make_array('lotus', 'sunflower', 'rose')
)

Number of petals | Name
8                | lotus
34               | sunflower
5                | rose

In [9]:
flowers = Table().with_columns(
    'Number of petals', make_array(8, 34, 5),
    'Name', make_array('lotus', 'sunflower', 'rose')
)

flowers.with_columns(
    'Color', make_array('pink', 'yellow', 'red')
)

Number of petals | Name      | Color
8                | lotus     | pink
34               | sunflower | yellow
5                | rose      | red

In [10]:
minard = Table.read_table(path_data + 'minard.csv')
minard

NameError: name 'path_data' is not defined